.header
  %span Failures

= render "search_form"

#failure_results.turbaned
  = render "search_results"

.blurb.turbaned
  %span= link_to "Simulate Failure", new_admin_failure_path

= render "shared/dialog.html", id: "failure_details", width: 1000, button: false, cancel: "Dismiss"
