#help
  %dt How do I format my article?
  %dd
    Use
    = link_to "Markdown", "http://daringfireball.net/projects/markdown/syntax", target: "_markdown", class: "external"
    for the
    %em Story
    section.
  %dt Can I see some Markdown examples on this site?
  %dd
    Yes, click the
    %em Markdown
    button at the bottom of any article.
