.header
  %span Former ICU Players

#search_form{class: "cushioned"}
  = render "search_form"

#old_player_results
  = render "search_results"

#help
  %dl
    %dt What are "Former ICU Players"?
    %dd
      The original data came from 5202 records in the "Old Members Table" of the
      %em MSAccess
      database that constituted the ICU rating system preceding this web site.
      Many of the records matched existing members, represented foreign players
      or were duplicates but, after a cleanup operation, 3372 remaining records
      were transferred here.
    %dt What are they used for?
    %dd
      When players come out of retirement and start playing again they
      often want to use their old rating, if it can be found (if not,
      they have to be treated like any other new player). If their old
      rating isn't in the list of
      = link_to "legacy ratings", admin_old_ratings_path
      it might be still be here in this list of former members.
      If so, the player can be resurrected from the dead, so to speak,
      by creating new player and legacy rating records for them.
      Then they can rejoin the ICU with their old ID and have their
      rating tracked from it's last known value, instead of starting from scratch.
    %dt Why not just create new player and legacy ratings from this data now?
    %dd
      That would result in even more players with similar names and an increased likelihood
      of misidentications. Considering the number of returning players is only a few
      per year, its better just to add them one at a time as required.
