.header
  %span= @old_player.name(false)

= render "show_details"

#old_player_show_note.turbaned
  = render "show_note"

= render "shared/dialog", id: "update_old_player", width: 800, title: "Update Former Player"

#help
  %dl
    %dt Should the ratings of players with less than 20 games be counted as provisional?
    %dd
      Not necessarily. It's not exactly clear what those two numbers (events and games) mean.
      However, from previous cases where players have been resurrected, it seems that they don't
      always indicate the player's totals for all time, but more likely the totals during some
      limited period. When resurrecting a player, they should be consulted to get an idea of how
      many rated games had been played when they were last active.
