.header
  %span= @old_player.name(false)

= render "show_details"

#old_player_show_note.turbaned
  = render "show_note"

= render "shared/dialog", id: "update_old_player", width: 800, title: "Update Former Player"

#help
  %dl
    %dt Should the ratings of players with less than 20 games be counted as provisional?
    %dd
      Not necessarily. The number of games shown may relate to a limited period of time, and
      not include events played before that period. When resurrecting a player, they should be
      consulted to get an estmate of the total number of rated games they had played before
      deciding whether or not their rating should be treated as provisional.
