- if @player
  = render "search_player"
  %hr
  
%h3{class: "centered"} Matching FIDE Players
#fide_player_results
  = render "search_results"
%hr

= render partial: "search_form", locals: { remote_only: true }
