- content_for :title, "Irish FIDE Ratings"

.header
  %span Irish FIDE Ratings

= render "form"

#fide_rating_results.turbaned
  = render "results"

= render "shared/ratings_graph/dialog.html"

#help
  %dl
    %dt What are these ratings?
    %dd
      The FIDE ratings of Irish players (not necessarily ICU members) from January 2000 to date.
      Until July 2009, FIDE published lists every 3 months and, after that, every 2 months.
    %dt How can I find out the FIDE ID of a player?
    %dd Hover your mouse over the player's name.
