%p
  A list of fothcoming events can be found in the
  = link_to_icu "Calendar", "events/list.php?type=irish"
  section of ICU web site. To give a few examples:
%ul
  %li The annual Irish Chess Championships (usually in July).
  %li Annual tournaments in Dublin, Cork, Bunratty and Galway.
  %li Team leagues in Leinster and Munster.
  %li Various events for juniors.
  %li The club championships of some local chess clubs.
%p
  If you play in tournaments outside Ireland you can submit the
  results for ICU rating, though you must follow the correct
  = succeed(".") do
    = link_to_icu "procedure", "articles/display.php?id=172"
