%table
  %tr
    %th Name
    %th Start
  - if @tournaments.count == 0
    %tr
      %td{:colspan => 3, :class => "centered"} No matches
  - @tournaments.matches.each do |t|
    %tr
      %td= link_to t.long_name, t
      %td= t.start
  - if @tournaments.multi_page
    %tr
      %td{:colspan => 3, :class => "centered"}= pagination_links(@tournaments)
