%table
  %tr
    %th{class: "floater"}
    %th Name
    %th Date
  - if @tournaments.count == 0
    %tr
      %td{class: "floater"}
      %td{colspan: 2, class: "centered"} No matches
  - @tournaments.matches.each do |t|
    %tr
      %td{class: "floater"}= icon_tag(t.stage, t(t.stage)) unless t.stage == "rated"
      %td= link_to t.name, t
      %td= t.finish
  - if @tournaments.multi_page
    %tr
      %td{class: "floater"}
      %td{colspan: 2, class: "centered"}= pagination_links(@tournaments)
