.header
  %span Tournaments

#search_form{class: "cushioned"}
  = render "search_form"

#tournament_results
  = render "search_results"

#help
  %dl
    %dt What are the different stages a tournament can be at?
    %dd
      %p
        = image_tag "icons/unrated.png", class: "inline"
        Unrated, but intended to be rated when ready.
      %p
        = image_tag "icons/rated.png", class: "inline"
        Already rated.
