- content_for :head do
  = javascript_include_tag "tournament"

.header
  %span= @tournament.name

%table
  %tr.splitter
    %td
      = render "players"
    %td
      = render "tournament"

#help
  %dl
    %dt How does one know who played who?
    %dd Pairings are indicated by hovering the mouse over results or player names.
  %dl
    %dt How does one know who was white and who was black?
    %dd
      Assuming this information is available (which is not always the case) then
      a player's results with black are indicated by a slightly darker background.
