-# Turn a title plus an object's errors into a string */
= title
- hash = object.errors.to_hash
- base = hash.delete(:base)
- if base
  - base.each do |err|
    * #{err}
- hash.each_pair do |key, errs|
  - errs.each do |err|
    * #{key.to_s.humanize}: #{err}
