%dt How can I save my search?
%dd
  Search results will update as soon as a menu is altered, a checkbox
  checked or a text field changed, however the web page address will
  remain the same. If you want to bookmark your search or be able to
  use your browser's Back button to return to it, use the Search button.
