%dt How can I save my search to the address bar?
%dd
  Search results will update as soon as a menu is altered, a checkbox
  checked or a text field changed, however the web page address shown
  in the browser's address bar will remain the same. If you want to
  bookmark your search or be able to use the browser's Back button to
  return to it, click the Search button.
