.header
  %span= @page_title = "Legacy Ratings"

= render "search_form"

#old_rating_results.turbaned
  = render "search_results"

#help
  %dl
    %dt What is meant by "legacy ratings"?
    %dd
      These are the ratings inherited by the current ICU rating system (this web application)
      from the previous system (which was based on a Microsoft Access database) in September 2011.
    %dt Why are some full ratings associated with less than 20 games?
    %dd
      The old rating system had to create new ICU players with full ratings
      for the FIDE-rated opponents of Irish players in foreign tournaments
      such as Olympiads, IM tournaments and junior internationals. This led
      to the creation of thousands of player records with a small number of
      rated games (often just one) but with full ratings. In addition, some
      game counts inherited from the old system were underestimates because
      they did not include games played before the old system was established.
