%h3= @icu_player.name

%ul
  - %w{deceased duplicate personal icu fide email phones address note}.each do |how|
    - summary = summarize(@icu_player, how.to_sym)
    - if summary.present?
      %li= summary

- if @old_rating_histories.count > 0
  #old_rating_history_results.turbaned
    = render :partial => "admin/old_rating_histories/player_results", :locals => { :icu_id => @icu_player.id }
