%dd
  There are two main sources of help:
  %ol
    %li the context sensitive Help link at the top of most pages,
    %li
      detailed information in various articles, see the full list
      = succeed(".") do
        = link_to "here", articles_path
