= render "shared/ratings_graph/head"
- content_for :javascript do
  = render partial: "shared/ratings_graph/draw", formats: :js, locals: { graph: graph }
%table{class: "invisible cushioned"}
  %tr
    %td{class: "nopadding"}
      #ratings_graph{width: graph.width, height: graph.height}
