- content_for :head do
  = javascript_include_tag "https://www.google.com/jsapi"
- content_for :javascript do
  google.load("visualization", "1", {packages:["corechart"]});
  = raw render partial: "shared/ratings_graph.js", locals: { graph: graph }
%table{class: "invisible cushioned"}
  %tr
    %td
      #ratings_graph{width: graph.width, height: graph.height}
