= render "shared/ratings_graph/head.html"
- content_for :javascript do
  = render "shared/ratings_graph/draw.js", graph: graph
%table{class: "invisible cushioned"}
  %tr
    %td
      #ratings_graph{width: graph.width, height: graph.height}
