- @page_title = "System Info"

%table
  %tr
    %th{colspan: 2} Environment Variables
  %tr
    %th Name
    %th Value
  - @system_info.environment.each_pair do |name, value|
    %tr{class: "note code"}
      %td= name
      %td
        - value.split(/\n/).each_with_index do |p,i|
          = raw("<br/>") unless i == 0
          = truncate(p, length: 150)
