#help
  %dt How do I format my article?
  %dd
    Use
    = link_to "Markdown", "http://daringfireball.net/projects/markdown/syntax", :target => "_markdown"
    for the
    %em Story
    section.
  %dt Where can I see examples of Markdown as used on this site?
  %dd
    Click the
    %em Markdown
    button at the bottom of any news item.
