.header
  %span= @page_title = "New Players"

= render "search_form"

#new_players_results.turbaned
  = render "search_results"

#help
  %dl
    %dt What is a "new player"?
    %dd
      A player who, at the time of competing in a given tournament, was new to the ICU
      (having no record in the ICU player database) with no previous chess rating
      (whether ICU, FIDE or other).
    %dt Are new players rated?
    %dd
      Yes but, without an ID, their ratings cannot be tracked from tournament to tournament.
      They are treated as having no rating history in each tournament they play in until
      they enter the player database and are assigned an ID. To enter the database a player
      either has to join the ICU or the rating officer has to create a record for them.
    %dt Does the rating officer normally create records for new players?
    %dd
      No, only in exceptional circumstances. One reason for this is that the rating
      officer will typically only know the name of a new player (from a tournament
      report) whereas when players join they must supply other important information
      such as date of birth and federation.
    %dt What happens to a player's old ratable games after they join the ICU?
    %dd
      Current practice is that they are ignored and the player's rating is tracked
      from the first tournament they play as a member. The rating officer may sometimes
      be able to take old games into account. However, new members have to request that
      this be done (it won't be done automatically) and also make a convincing case for
      why the rating officer should spend the time and effort given that the problem
      would not have arisen if the member had simply joined earlier.
    %dt So what is this list of new players for?
    %dd
      Simply to provide an overview of all new players for the rating officer.