- if @player.category == "icu_player" && (@player.last_player || @player.next_player)
  %table{class: "cushioned"}
    %tr
      - if @player.last_player
        %td{class: "centered"}= link_to "← #{@player.last_player.tournament.name_with_year}", @player.last_player
      - if @player.next_player
        %td{class: "centered"}= link_to "#{@player.next_player.tournament.name_with_year} →", @player.next_player
